<a id="about" class="anchor"></a>
<section class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200">
        <img src="assets/media/bratislava.png" class="img-fluid mb-2" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0">
          <h3 class="ml-3">About me</h3>
          <ul class="checklist">
            <li><i class="icofont-check-circled"></i> More than 12 years in software development industry</li>
            <li><i class="icofont-check-circled"></i> Professional experience in web development, windows apps,
              mobile apps, cloud backends and dev ops</li>
            <li><i class="icofont-check-circled"></i> I've expertise in Microsoft technologies and
              complementary frameworks and tools like Node, Angular, React or Docker.</li>
            <li><i class="icofont-check-circled"></i> Expertise earned trought experience, confirmed by widely
              recognized certifications and most importantly - happy customers.</li>
          </ul>
        </div>
      </div>
    </div> <!-- end row-->
    <div class="d-none d-md-block">
      <p>
        I started to write computer code when I was 6 years old in a programming game called Baltazar. Soon
        after, my father - also a software engineer - introduced me into QBasic and FoxPro. During primary school I
        discovered VBA, C++ and JavaScript.
      </p>
      <p>
        I started with C# and .NET by mystake. I wanted to write games and C# seemed to be like C++ but more modern,
        so it must be good for games :).
      </p>
      <p>
        In 2003 I wrote to Microsoft that I want to learn C# but Visual Studio is paid, how I'm I supposed to do
        so? A year later, they sent me DVD with Visual Studio 2005 Trial.
        It was a game changer. I was shocked how productive can I be with Visual Studio and .NET and I
        immediatelly fall in love with it.
      </p>
      <p>
        The rest of the story is my professional CV :)
      </p>
    </div>
  </div>
</section>