  .box {
    &.featured {
      border-color: #3498db;
    }

    height: 100%;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: 2px solid #e9ecee;

    h3 {
      font-weight: 400;
      padding: 15px;
      margin-top: 15px;
      font-size: 18px;
      font-weight: 600;
      color: #222222;
    }

    h4 {
      font-size: 42px;
      color: #3498db;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 20px;

      sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
      }

      span {
        color: #bababa;
        font-size: 16px;
        font-weight: 300;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      color: #444444;
      text-align: center;
      line-height: 20px;
      font-size: 14px;

      li {
        padding-bottom: 16px;
      }

      .na {
        color: #ccc;
        text-decoration: line-through;
      }

      i {
        color: #3498db;
        font-size: 18px;
        padding-right: 4px;
      }
    }

    .box .btn-wrap {
      padding: 15px;
      text-align: center;
    }

    .advanced-label {
      display: block;
      position: absolute;
      width: 200px;
      top: 28px;
      right: -58px;
      transform: rotate(45deg);
      z-index: 1;
      font-size: 14px;
      padding: 1px 0 3px 0 25px;
      background: #009cea;
      color: #fff;
    }
  }