<figure>
  <div class="row">
    <div class="col-auto col-time-range">
      9/2013 – present
    </div>
    <div class="col">
      <h5>Software Engineer, Technical Architect, Exxeta</h5>
      In some teams I helped as highly skilled Angular developer, in others as technical architect,
      technology advisor.
      Customers are mostly but not exclusively from finance and automotive industries
    </div>
  </div>
  <div class="row">
    <div class="col-auto col-time-range">
      8/2013 – 8/2018
    </div>
    <div class="col">
      <h5>Software Engineer, Technical Architect, Accenture</h5>
      My role involved software engineering, technical architecture, team leading with strong technical
      background and career counseling of my colleagues.
      The projects were exclusively from enterprise environment, including banks, telecom companies or
      United Nation.
    </div>
  </div>
  <div class="row">
    <div class="col-auto col-time-range">
      11/2007 – 7/2013
    </div>
    <div class="col">
      <h5>Software Developer, Monogram Technologies</h5>
      I’ve started as a web developer and later became a lead XAML developer. During the almost 6 years
      I was developing various projects, from typical line-of-business web application to successful
      startups like multimedia, statistics and security solutions for sport venues.
    </div>
  </div>
</figure>