<header id="header">
  <nav class="container">
    <a class="nav-brand" href="#page-top">Daniel Turan</a>
    <ul class="navbar-nav">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Me</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#pricing">Pricing</a></li>
    </ul>
  </nav>
</header>

<main>
  <a id="home" class="anchor"></a>
  <section class="home container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center aos-init aos-animate"
        data-aos="fade-up">
        <div>
          <h1>Software Consulting</h1>
          <div style="position: relative;">
            <h2 id="home_subtitle_1">
              I'm experienced software engineer and architect focused on Microsoft technologies
            </h2>
            <h2 id="home_subtitle_2" style="position: absolute; top: 0;">
              I develop high quality custom software for businesses
            </h2>
          </div>
          <a href="#offering" class="btn btn-outline-primary scrollto">Save up to 50%</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 home-img p-5 aos-init aos-animate" data-aos="fade-left">
        <img src="assets\media\primary-picture.svg" class="img-fluid animated" alt="" />
      </div>
    </div>
  </section>

  <div class="main-bg py-5">
    <a id="about" class="anchor"></a>
    <section class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-in">
            <img src="assets/media/bratislava.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center aos-init aos-animate" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>About me</h3>
              <ul class="checklist">
                <li><i class="icofont-check-circled"></i> More than 12 years in software development industry</li>
                <li><i class="icofont-check-circled"></i> Professional experience in web development, windows apps,
                  mobile apps,
                  cloud backends and dev ops</li>
                <li><i class="icofont-check-circled"></i> I've expertise in Microsoft technologies and
                  complementary frameworks and tools like Node, Angular, React or Docker.</li>
                <li><i class="icofont-check-circled"></i> Expertise earned trought experience, confirmed by widely
                  recognized certifications and most importantly - happy customers.</li>
                <li><i class="icofont-check-circled"></i> I have an university degree in applied informatics.</li>
              </ul>
            </div>
          </div>
        </div> <!-- end row-->
        <p>
          I started to write computer code when I was 6 years old in a programming game called Baltazar. Soon
          after, my father - also a professional programmer -
          introduced me into QBasic and FoxPro. During primary school I discovered VBA, C++ and JavaScript.
        </p>
        <p>
          I got to C# and .NET by mystake. I wanted to write games and C# seemed to be like C++ but more modern,
          so it must be good for games :).
        </p>
        <p>
          In 2003 I wrote to Microsoft that I want to learn C# but Visual Studio is paid, how I'm I supposed to do
          so? A year later, they sent me DVD with Visual Studio 2005 Trial.
          It was a game changer. I was shocked how productive can I be with Visual Studio and .NET and I
          immediatelly fall in love with it.
        </p>
        <p>
          The rest of the story is my professional CV :)
        </p>
      </div>
    </section>

    <a id="resume" class="anchor"></a>
    <section class="resume py-5">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-tg-0 order-2 order-lg-1">

            <ul class="nav nav-tabs flex-column" role="tablist">
              <li class="nav-item aos-init aos-animate" data-aos="fade-up">
                <a class="nav-link active" data-toggle="tab" href="#resume-expertise" role="tab">
                  <h4>Technology Expertise</h4>
                  <p>Microsoft Certified Professional Developer</p>
                </a>
              </li>
              <li class="nav-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#resume-experience" role="tab">
                  <h4>Work Experience</h4>
                  <p>I've worked in a startup, medium size and world largest technology consulting company</p>
                </a>
              </li>
              <li class="nav-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-toggle="tab" href="#resume-education" role="tab">
                  <h4>Education</h4>
                  <p>Bachelors degree in Computer Science, Microsoft Certified Professional Developer</p>
                </a>
              </li>
              <li class="nav-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#resume-achievements" role="tab">
                  <h4>Achievements</h4>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="resume-expertise" role="tabpanel">
                <figure>
                  <table class="table aos-init aos-animate" data-aos="fade-up">
                    <thead>
                      <tr>
                        <th>Skill</th>
                        <th>Proficiency</th>
                        <th>Experience</th>
                        <th>Last Used</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>C# / .NET</td>
                        <td>Expert</td>
                        <td>13 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>ASP.NET</td>
                        <td>Expert</td>
                        <td>7 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>JavaScript / TypeScript</td>
                        <td>Expert</td>
                        <td>8 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>Angular / React</td>
                        <td>Expert</td>
                        <td>4 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>Azure (PaaS)</td>
                        <td>Advanced</td>
                        <td>3 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>DevOps</td>
                        <td>Advanced</td>
                        <td>2 years</td>
                        <td>2019</td>
                      </tr>
                      <tr>
                        <td>SCRUM / Agile Development & Methods</td>
                        <td>Advanced</td>
                        <td>4 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>SQL Server</td>
                        <td>Advanced</td>
                        <td>4 years</td>
                        <td>2019</td>
                      </tr>
                      <tr>
                        <td>UWP / WPF</td>
                        <td>Expert</td>
                        <td>7 years</td>
                        <td>2017</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="tags aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <span class="badge badge-info" *ngFor="let skill of [
                    'Blazor',
                    'Microsoft Graph API',
                    'Web Services (SOAP / WSDL, REST)',
                    'Cosmos DB (NoSQL)',
                    'CQRS',
                    'Event Sourcing',
                    'Azure Functions',
                    'Sharepoint',
                    'Web Api',
                    'XAML',
                    'Continuous Delivery',
                    'Docker']; let index=index;">
                      {{ skill}}
                    </span>
                  </p>
                </figure>
              </div>
              <div class="tab-pane fade" id="resume-experience" role="tabpanel">
                <figure>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      9/2013 – present
                    </div>
                    <div class="col">
                      <h5>Software Engineer, Technical Architect, Exxeta</h5>
                      In some teams I helped as highly skilled Angular developer, in others as technical architect,
                      technology advisor.
                      Customers are mostly but not exclusively from finance and automotive industries
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      8/2013 – 8/2018
                    </div>
                    <div class="col">
                      <h5>Software Engineer, Technical Architect, Accenture</h5>
                      My role involved software engineering, technical architecture, team leading with strong technical
                      background and career counseling of my colleagues.
                      The projects were exclusively from enterprise environment, including banks, telecom companies or
                      United Nation.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      11/2007 – 7/2013
                    </div>
                    <div class="col">
                      <h5>Software Developer, Monogram Technologies</h5>
                      I’ve started as a web developer and later became a lead XAML developer. During the almost 6 years
                      I was developing various projects, from typical line-of-business web application to successful
                      startups like multimedia, statistics and security solutions for sport venues.
                    </div>
                  </div>
                </figure>
              </div>
              <div class="tab-pane" id="resume-education" role="tabpanel">
                <figure>
                  <h5>Slovak University of Technology</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>2011</td>
                        <td>
                          <h6>Faculty of Electrical Engineering and Information Technology</h6>
                          Bachelor’s degree in Applied Informatics - Modeling and Simulation of Event Systems
                        </td>
                        <td><img src="assets/media/education.png" class="certification-icon" /></td>
                      </tr>
                    </tbody>
                  </table>

                  <h5 class="mt-2">Certifications</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Certfication Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2019</td>
                        <td>Microsoft Certified: Azure Developer Associate</td>
                        <td><img src="assets/media/badge_azure_developer.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2017</td>
                        <td>Austrian institute: German Language - Level C1</td>
                        <td><img src="assets/media/german_flag.svg" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2015</td>
                        <td>Universal Windows Platform – App Data, Services and Coding Patterns</td>
                        <td><img src="assets/media/exam_uwp.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2015</td>
                        <td>Accenture: Technology Architect Associate</td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Microsoft Specialist: Programming in C#</td>
                        <td><img src="assets/media/exam_csharp.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Avanade: Proffesional Scrum Developer</td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Avanade: Proffesional Scrum Master</td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Solutions Developer: Web Applications</td>
                        <td><img src="assets/media/badge_app_builder.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Data Access</td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Service Communication
                          Applications</td>
                      </tr>
                    </tbody>
                  </table>

                </figure>
              </div>
              <div class="tab-pane" id="resume-achievements" role="tabpanel">
                <figure>
                  <ul>
                    <li>
                      <h6>C# IQ - 260, which is in top 3%</h6>
                      <img src="assets\media\csharp-iq.png" class="img-fluid animated" alt="" />
                    </li>
                    <li class="mt-4">
                      <h6>2010 - Won 1st...5th place in "Sexy Web" competition</h6>
                      For web that takes best advatages on new IE9 features.
                      I created <a href="http://www.turan.sk" target="_blank">turan.sk</a> website and this cool Scrum
                      Board app:
                      <a href="https://youtu.be/fnIYl3cd5ZA?t=30" target="_blank">
                        <img src="assets\media\scrum_board.png" class="img-fluid animated" alt="" />
                      </a>
                    </li>
                    <li class="mt-4">
                      <h6>2008 - Programmer of the year</h6>
                      For greatest progress among new joiners in Monogram Technologies s.r.o.
                    </li>
                    <li class="mt-4">
                      <h6>Biometrics software for UNHCR</h6>
                      I've played key role in development of software described here:
                      <iframe src="https://www.youtube-nocookie.com/embed/44nLWR4V-lc?start=26"
                        class="img-fluid animated" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </li>
                  </ul>
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <a id="services" class="anchor"></a>
    <section class="services">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2>Services</h2>
          <p>My primary focus is building custom line-of-bussines application from scratch or modernizing exisiting
            application using latest Microsoft technologies.<br />
            It involves all the stages, from initial idea, technical bluebrint, through implementation, to monitoring in
            production.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon">
                <svg viewBox="0 0 128 128">
                  <use xlink:href="/assets/media/lightbulb.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Technology Consulting</a></h4>
              <p class="description">
                How to pick from wide and ever changing range of technologies? The optimal combination is crutial for
                success and cost efficiency.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in"
            data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon">
                <svg viewBox="0 0 18 18">
                  <use xlink:href="/assets/media/webapp.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Business web applications</a></h4>
              <p class="description">
                Accessible 24 / 7, user friendly, always up to date, <strong>realtime cooworking</strong>
                capabilities.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon">
                <svg viewBox="0 0 512 512">
                  <use xlink:href="/assets/media/cloud.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Azure Clould</a></h4>
              <p class="description">
                Integrate your apps with Office, Azure Active Directory. Be prepared for growth and new challenges
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box icon-box-green">
              <div class="icon">
                <svg>
                  <path
                    d="M38 8.6v22L28.9 38l-14-5.1V38L7.1 27.7l23.1 1.8V9.7L38 8.6zm-7.7 1.1L17.4 2v5.1L5.5 10.6 2 15.2v10.4l5.1 2.2V14.5l23.2-4.8z"
                    fill="currentColor"></path>
                </svg>
              </div>
              <h4 class="title"><a href="">DevOps</a></h4>
              <p class="description">Lower the <strong>"from idea to production"</strong> time to minimum and deliver
                often using the world most productive DevOps platform</p>
            </div>
          </div>

          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum</p>
            </div>
          </div> -->

        </div>

      </div>
    </section>

  </div>
</main>


<footer id="footer">
  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>Daniel Turan</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>