<header id="header">
  <app-menu></app-menu>
</header>

<main>
  <app-home></app-home>

  <div class="main-bg py-5">
    <a id="about" class="anchor"></a>
    <section class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200">
            <img src="assets/media/bratislava.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3 class="ml-3">About me</h3>
              <ul class="checklist">
                <li><i class="icofont-check-circled"></i> More than 12 years in software development industry</li>
                <li><i class="icofont-check-circled"></i> Professional experience in web development, windows apps,
                  mobile apps,
                  cloud backends and dev ops</li>
                <li><i class="icofont-check-circled"></i> I've expertise in Microsoft technologies and
                  complementary frameworks and tools like Node, Angular, React or Docker.</li>
                <li><i class="icofont-check-circled"></i> Expertise earned trought experience, confirmed by widely
                  recognized certifications and most importantly - happy customers.</li>
                <li><i class="icofont-check-circled"></i> I have an university degree in applied informatics.</li>
              </ul>
            </div>
          </div>
        </div> <!-- end row-->
        <p>
          I started to write computer code when I was 6 years old in a programming game called Baltazar. Soon
          after, my father - also a software engineer - introduced me into QBasic and FoxPro. During primary school I
          discovered VBA, C++ and JavaScript.
        </p>
        <p>
          I started with C# and .NET by mystake. I wanted to write games and C# seemed to be like C++ but more modern,
          so it must be good for games :).
        </p>
        <p>
          In 2003 I wrote to Microsoft that I want to learn C# but Visual Studio is paid, how I'm I supposed to do
          so? A year later, they sent me DVD with Visual Studio 2005 Trial.
          It was a game changer. I was shocked how productive can I be with Visual Studio and .NET and I
          immediatelly fall in love with it.
        </p>
        <p>
          The rest of the story is my professional CV :)
        </p>
      </div>
    </section>

    <a id="resume" class="anchor"></a>
    <section class="resume py-5">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-tg-0 order-2 order-lg-1">

            <ul class="nav nav-tabs flex-column" role="tablist">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active" data-toggle="tab" href="#resume-expertise" role="tab">
                  <h4>Technology Expertise</h4>
                  <p>Microsoft Certified Professional Developer</p>
                </a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#resume-experience" role="tab">
                  <h4>Work Experience</h4>
                  <p>I've worked in a startup, medium size and world largest technology consulting company</p>
                </a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-toggle="tab" href="#resume-education" role="tab">
                  <h4>Education</h4>
                  <p>Bachelors degree in Computer Science, Microsoft Certified Professional Developer</p>
                </a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#resume-achievements" role="tab">
                  <h4>Achievements</h4>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="resume-expertise" role="tabpanel">
                <figure>
                  <table class="table" data-aos="fade-up">
                    <thead>
                      <tr>
                        <th>Skill</th>
                        <th>Proficiency</th>
                        <th>Experience</th>
                        <th>Last Used</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>C# / .NET</td>
                        <td>Expert</td>
                        <td>13 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>ASP.NET</td>
                        <td>Expert</td>
                        <td>7 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>JavaScript / TypeScript</td>
                        <td>Expert</td>
                        <td>8 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>Angular / React</td>
                        <td>Expert</td>
                        <td>4 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>Azure (PaaS)</td>
                        <td>Advanced</td>
                        <td>3 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>DevOps</td>
                        <td>Advanced</td>
                        <td>2 years</td>
                        <td>2019</td>
                      </tr>
                      <tr>
                        <td>SCRUM / Agile Development & Methods</td>
                        <td>Advanced</td>
                        <td>4 years</td>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <td>SQL Server</td>
                        <td>Advanced</td>
                        <td>4 years</td>
                        <td>2019</td>
                      </tr>
                      <tr>
                        <td>UWP / WPF</td>
                        <td>Expert</td>
                        <td>7 years</td>
                        <td>2017</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="tags" data-aos="fade-up" data-aos-delay="300">
                    <span class="badge badge-info" *ngFor="let skill of [
                    'Blazor',
                    'Microsoft Graph API',
                    'Web Services (SOAP / WSDL, REST)',
                    'Cosmos DB (NoSQL)',
                    'CQRS',
                    'Event Sourcing',
                    'Azure Functions',
                    'Sharepoint',
                    'Web Api',
                    'XAML',
                    'Continuous Delivery',
                    'Docker']; let index=index;">
                      {{ skill}}
                    </span>
                  </p>
                </figure>
              </div>
              <div class="tab-pane fade" id="resume-experience" role="tabpanel">
                <figure>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      9/2013 – present
                    </div>
                    <div class="col">
                      <h5>Software Engineer, Technical Architect, Exxeta</h5>
                      In some teams I helped as highly skilled Angular developer, in others as technical architect,
                      technology advisor.
                      Customers are mostly but not exclusively from finance and automotive industries
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      8/2013 – 8/2018
                    </div>
                    <div class="col">
                      <h5>Software Engineer, Technical Architect, Accenture</h5>
                      My role involved software engineering, technical architecture, team leading with strong technical
                      background and career counseling of my colleagues.
                      The projects were exclusively from enterprise environment, including banks, telecom companies or
                      United Nation.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto col-time-range">
                      11/2007 – 7/2013
                    </div>
                    <div class="col">
                      <h5>Software Developer, Monogram Technologies</h5>
                      I’ve started as a web developer and later became a lead XAML developer. During the almost 6 years
                      I was developing various projects, from typical line-of-business web application to successful
                      startups like multimedia, statistics and security solutions for sport venues.
                    </div>
                  </div>
                </figure>
              </div>
              <div class="tab-pane" id="resume-education" role="tabpanel">
                <figure>
                  <h5>Slovak University of Technology</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>2011</td>
                        <td>
                          <h6>Faculty of Electrical Engineering and Information Technology</h6>
                          Bachelor’s degree in Applied Informatics - Modeling and Simulation of Event Systems
                        </td>
                        <td><img src="assets/media/education.png" class="certification-icon" /></td>
                      </tr>
                    </tbody>
                  </table>

                  <h5 class="mt-2">Certifications</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>2019</td>
                        <td>Microsoft Certified: Azure Developer Associate</td>
                        <td><img src="assets/media/badge_azure_developer.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2017</td>
                        <td>Austrian institute: German Language - Level C1</td>
                        <td><img src="assets/media/german_flag.svg" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2015</td>
                        <td>Universal Windows Platform – App Data, Services and Coding Patterns</td>
                        <td><img src="assets/media/exam_uwp.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2015</td>
                        <td>Accenture: Technology Architect Associate</td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Microsoft Specialist: Programming in C#</td>
                        <td><img src="assets/media/exam_csharp.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Avanade: Proffesional Scrum Developer</td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td>Avanade: Proffesional Scrum Master</td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Solutions Developer: Web Applications</td>
                        <td><img src="assets/media/badge_app_builder.png" class="certification-icon" /></td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Data Access</td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Service Communication
                          Applications</td>
                      </tr>
                    </tbody>
                  </table>

                </figure>
              </div>
              <div class="tab-pane" id="resume-achievements" role="tabpanel">
                <figure>
                  <ul>
                    <li>
                      <h6>C# IQ - 260, which is in top 3%</h6>
                      <img src="assets\media\csharp-iq.png" class="img-fluid animated" alt="" />
                    </li>
                    <li class="mt-4">
                      <h6>2010 - Won 1st...5th place in "Sexy Web" competition</h6>
                      For web that takes best advatages on new IE9 features.
                      I created <a href="http://www.turan.sk" target="_blank">turan.sk</a> website and this cool Scrum
                      Board app:
                      <a href="https://youtu.be/fnIYl3cd5ZA?t=30" target="_blank">
                        <img src="assets\media\scrum_board.png" class="img-fluid animated" alt="" />
                      </a>
                    </li>
                    <li class="mt-4">
                      <h6>2008 - Programmer of the year</h6>
                      For greatest progress among new joiners in Monogram Technologies s.r.o.
                    </li>
                    <li class="mt-4">
                      <h6>Biometrics software for UNHCR</h6>
                      I've played key role in development of software described here:
                      <iframe src="https://www.youtube-nocookie.com/embed/44nLWR4V-lc?start=26"
                              class="img-fluid animated" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                    </li>
                  </ul>
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <a id="services" class="anchor"></a>
    <section class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>My primary focus is building custom line-of-bussines application from scratch or modernizing exisiting
            application using latest Microsoft technologies.<br />
            It involves all the stages, from initial idea, technical bluebrint, through implementation, to monitoring in
            production.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon">
                <svg viewBox="0 0 128 128">
                  <use xlink:href="/assets/media/lightbulb.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Technology Consulting</a></h4>
              <p class="description">
                How to pick from wide and ever changing range of technologies? The optimal combination is crutial for
                success and cost efficiency.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon">
                <svg viewBox="0 0 18 18">
                  <use xlink:href="/assets/media/webapp.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Business web applications</a></h4>
              <p class="description">
                Accessible 24 / 7, user friendly, always up to date, <strong>realtime cooworking</strong>
                capabilities.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon">
                <svg viewBox="0 0 512 512">
                  <use xlink:href="/assets/media/cloud.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Azure Clould</a></h4>
              <p class="description">
                Integrate your apps with Office, Azure Active Directory. Be prepared for growth and new challenges
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-green">
              <div class="icon">
                <svg>
                  <path
                        d="M38 8.6v22L28.9 38l-14-5.1V38L7.1 27.7l23.1 1.8V9.7L38 8.6zm-7.7 1.1L17.4 2v5.1L5.5 10.6 2 15.2v10.4l5.1 2.2V14.5l23.2-4.8z"
                        fill="currentColor"></path>
                </svg>
              </div>
              <h4 class="title"><a href="">DevOps</a></h4>
              <p class="description">Lower the <strong>"from idea to production"</strong> time to minimum and deliver
                often using the world most productive DevOps platform</p>
            </div>
          </div>

          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum</p>
            </div>
          </div> -->

        </div>

      </div>
    </section>

    <section>
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Best value for money</h2>
        </div>

        <article>
          <h3 data-aos="fade-up">The smaller, the better</h3>
          <div class="row">
            <div class="col-lg-8" data-aos="zoom-in">
              <p>Have you heard of <a href="https://en.wikipedia.org/wiki/Ringelmann_effect">Ringelmann's effect?</a>
                With each new team member, producivity per member decreases just because of social loafing.
              </p>
              <p>
                In software projects specifically, you need to count with additional communication overhead, projet
                management overhead, skills transfers, different practices of each develper.
                Single developer is twice as productive as member in team of 3 developers
              </p>
              <p>
                <span class="text-info">I can cover the entire product life-cycle</span>, from analysis, architecture
                design, trought frontend and backend development to
                deployment and monitoring with maximum productivity.
              </p>
            </div>
            <div class="col-lg-4">
              <img src="assets\media\ringelmann_effect.png" class="img-fluid" alt="" data-aos="fade-left" />
            </div>
          </div>
        </article>

        <article>
          <h3 data-aos="fade-up">Minimize risk, maximize value</h3>
          <p data-aos="fade-up"><em>
              21% of custom software projects fails and 50% customers are somewhat dissatisfied with the
              result.
            </em>
          </p>
          <div class="row">
            <div class="col-lg-4">
              <img src="assets\media\agile-value-chart.png" class="img-fluid" alt="" data-aos="fade-right" />
            </div>
            <div class="col-lg-8" data-aos="zoom-in">
              <p> I deliver prototype that you can "touch & feel" right at the beginning. <span class="text-info">"Most
                  Viable Product"</span> with critical functionality follows soon after.
                MVP will be simple as possible and delivered ASAP.
                <span class="text-info">Risk mitigation</span> is accomplished through continuous delivery as
                requirements are discovered.
              </p>
              <p>
                <span class="text-info">Business value</span> is maximized through tight feedback loop. You will be able
                to continously test new features and provide feedback. Change requests are welcome. You can prioritize
                new features throughout the entire development cycle so
                that the features that provide the most business value are delivered first.
              </p>
              <p>
                You will have an unique opportunity to be involved throughout the project, from prioritizing features to
                iteration planning and review sessions to frequent software builds containing new features
              </p>W
            </div>
          </div>
        </article>
      </div>
    </section>

    <app-pricing></app-pricing>

    <a id="save" class="anchor"></a>
    <section>
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Save up to 40% with Blazor Server Side</h2>
        </div>
        <div class="row">

          <div class="col-lg-8" data-aos="zoom-in">
            <p>When if not now is better time to look for opportunities to cut software development costs?
            </p>

            <p>Using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> Server Side and carefully chosen development stack you can lower development cost
              of your
              business web application up to 40% while still improving maintainability, testability, startup speed and
              even
              overall quality. How is that possible? </p>
            <p>
              Most developers knows Blazor as a pioneering WebAssembly framework for building Single Page Applications
              leaving Blazor Server Side in shadow.
              However, Blazor Server Side is a unique concept, that greatly reduces ammount of work required to build
              business web applications.
            </p>

            <p>Single development stack for backend and frontend is tremendous advantage by itself, especially when it
              is .NET.
              But server side Blazor goes much further:
              <ul>
                <li>It saves time spent on API's twice - on backend and frontend. No serialization, deserialization,
                  swagger, no API authorization, less security issues.</li>
                <li>Single test framework covers BE and FE and without browser automation which makes testing much
                  easier.</li>
                <li>There is no need to worry about bundle sizes which typically grow very quickly and increases
                  traditional SPA startup time. No need to worry about lazy loading and related issues..</li>
              </ul>

              <p>Let me know if you plan to modernize your existing line of business application or write completely new
                from scratch.</p>
          </div>
          <div class="col-lg-4">
            <img src="assets\media\blazor_vs_spa.png" class="img-fluid" alt="" data-aos="fade-left"
                 data-aos-delay="100" />
          </div>
        </div>

      </div>
    </section>
  </div>
</main>


<footer id="footer">
  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>Daniel Turan</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>