<header id="header">
  <app-menu></app-menu>
</header>

<main>
  <app-home></app-home>

  <div class="main-bg py-5">
    <app-about></app-about>
    


    <app-resume></app-resume>

    <a id="services" class="anchor"></a>
    <section class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>My primary focus is building custom line-of-bussines application from scratch or modernizing exisiting
            application using latest Microsoft technologies.<br />
            It involves all the stages, from initial idea, technical bluebrint, through implementation, to monitoring in
            production.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon">
                <svg viewBox="0 0 128 128">
                  <use xlink:href="/assets/media/lightbulb.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Technology Consulting</a></h4>
              <p class="description">
                How to pick from wide and ever changing range of technologies? The optimal combination is crutial for
                success and cost efficiency.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon">
                <svg viewBox="0 0 18 18">
                  <use xlink:href="/assets/media/webapp.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Business web applications</a></h4>
              <p class="description">
                Accessible 24 / 7, user friendly, always up to date, <strong>realtime cooworking</strong>
                capabilities.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon">
                <svg viewBox="0 0 512 512">
                  <use xlink:href="/assets/media/cloud.svg#icon"></use>
                </svg>
              </div>
              <h4 class="title"><a href="">Azure Clould</a></h4>
              <p class="description">
                Integrate your apps with Office, Azure Active Directory. Be prepared for growth and new challenges
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-green">
              <div class="icon">
                <svg>
                  <path
                        d="M38 8.6v22L28.9 38l-14-5.1V38L7.1 27.7l23.1 1.8V9.7L38 8.6zm-7.7 1.1L17.4 2v5.1L5.5 10.6 2 15.2v10.4l5.1 2.2V14.5l23.2-4.8z"
                        fill="currentColor"></path>
                </svg>
              </div>
              <h4 class="title"><a href="">DevOps</a></h4>
              <p class="description">Lower the <strong>"from idea to production"</strong> time to minimum and deliver
                often using the world most productive DevOps platform</p>
            </div>
          </div>

          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum</p>
            </div>
          </div> -->

        </div>

      </div>
    </section>

    <section>
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Best value for money</h2>
        </div>

        <article>
          <h3 data-aos="fade-up">The smaller, the better</h3>
          <div class="row">
            <div class="col-lg-8" data-aos="zoom-in">
              <p>Have you heard of <a href="https://en.wikipedia.org/wiki/Ringelmann_effect">Ringelmann's effect?</a>
                With each new team member, producivity per member decreases just because of social loafing.
              </p>
              <p>
                In software projects specifically, you need to count with additional communication overhead, projet
                management overhead, skills transfers, different practices of each develper.
                Single developer is twice as productive as member in team of 3 developers
              </p>
              <p>
                <span class="text-info">I can cover the entire product life-cycle</span>, from analysis, architecture
                design, trought frontend and backend development to
                deployment and monitoring with maximum productivity.
              </p>
            </div>
            <div class="col-lg-4">
              <img src="assets\media\ringelmann_effect.png" class="img-fluid" alt="" data-aos="fade-left" />
            </div>
          </div>
        </article>

        <article>
          <h3 data-aos="fade-up">Minimize risk, maximize value</h3>
          <p data-aos="fade-up"><em>
              21% of custom software projects fails and 50% customers are somewhat dissatisfied with the
              result.
            </em>
          </p>
          <div class="row">
            <div class="col-lg-4">
              <img src="assets\media\agile-value-chart.png" class="img-fluid" alt="" data-aos="fade-right" />
            </div>
            <div class="col-lg-8" data-aos="zoom-in">
              <p> I deliver prototype that you can "touch & feel" right at the beginning. <span class="text-info">"Most
                  Viable Product"</span> with critical functionality follows soon after.
                MVP will be simple as possible and delivered ASAP.
                <span class="text-info">Risk mitigation</span> is accomplished through continuous delivery as
                requirements are discovered.
              </p>
              <p>
                <span class="text-info">Business value</span> is maximized through tight feedback loop. You will be able
                to continously test new features and provide feedback. Change requests are welcome. You can prioritize
                new features throughout the entire development cycle so
                that the features that provide the most business value are delivered first.
              </p>
              <p>
                You will have an unique opportunity to be involved throughout the project, from prioritizing features to
                iteration planning and review sessions to frequent software builds containing new features
              </p>W
            </div>
          </div>
        </article>
      </div>
    </section>

    <app-pricing></app-pricing>

    <a id="save" class="anchor"></a>
    <section>
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Save with Blazor Server</h2>
        </div>
        <div class="row">

          <div class="col-lg-8" data-aos="zoom-in">
            <p>
              I always strive for better <strong class="text-primary">productivity</strong> and <strong class="text-primary">quality</strong> and Blazor is
              a new revolutionary web framework that helps to achieve those goals.
            </p>

            <p>Using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor Server</a> and carefully
              chosen technology stack you can lower development cost of your business web application <strong class="text-primary">by 40%</strong> while
              still improving maintainability, testability, startup speed and even overall quality.
              How is that possible? </p>

            <p>Single technology stack for backend and frontend is tremendous advantage, especially when it
              is .NET, because all the code is written in the same programming language, using the same tools and by the same developers.</p>

            <p>Additionally:</p>
            <ul class="svg-list">
              <li>
                <app-icon icon="double-check"></app-icon>
                It saves time spent on API's twice - on backend and frontend. No serialization, deserialization,
                swagger, no API authorization, less security issues.
              </li>
              <li>
                <app-icon icon="double-check"></app-icon>
                Single test framework covers BE and FE and without browser automation which makes testing much
                easier.
              </li>
              <li>
                <app-icon icon="double-check"></app-icon>
                There is no need to worry about bundle sizes which typically grow very quickly and increases
                traditional SPA startup time. No need to worry about lazy loading and related issues..
              </li>
              <li>
                <app-icon icon="double-check"></app-icon>
                Small learning curve for existing C# developers, because they can reuse their existing skills.
                Blazor is just a tiny layer build on technologies well known open source and battle tested
                technologies like ASP.NET and Razor.
              </li>
            </ul>

            <p>Let me know if you plan to modernize your existing line of business application or write completely new
              from scratch.</p>
          </div>
          <div class="col-lg-4">
            <img src="assets\media\blazor_vs_spa.png" class="img-fluid" alt="" data-aos="fade-left"
                 data-aos-delay="100" />
          </div>
        </div>

      </div>
    </section>

    <app-contact></app-contact>
  </div>
</main>


<footer id="footer">
  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>Daniel Turan</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>