<section id="pricing" class="pricing section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>I strongly recommend agile contracts.</p>
    </div>

    <div class="row">

      <div class="col-lg col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in" data-aos-delay="0">
          <h3>Agile Development</h3>
          <h4><sup>€</sup> 300<span> / day</span></h4>
          <ul>
            <li>7.5 hours / day dedicated to the project</li>
            <li>You will own all source codes and assets</li>
            <li>I pay for development tools, like Visual Studio</li>
            <li>Best business value for money</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in" data-aos-delay="200">
          <h3>Fixed Price Contract</h3>
          <h4><span>Based on scope</span></h4>
          <ul>
            <li>Requires detailed design upfront</li>
            <li>Bugs fixing included</li>
            <li> </li>
            <li>Limited change requests</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn btn-secondary">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>