<a id="resume" class="anchor"></a>
<section class="resume py-5">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column d-none d-lg-flex" role="tablist">
          <li *ngFor="let tab of tabs; let index = index"
              class="nav-item"
              data-aos="fade-up"
              [attr.data-aos-delay]="index * 100">
            <a class="nav-link"
               [class.active]="index === 0"
               [href]="'#resume-tab-' + tab.id"
               data-toggle="tab" role="tab">
              <h4>{{ tab.title}}</h4>
              <p>{{ tab.description }}</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="tab-content">
          <ng-container *ngFor="let tab of tabs; let index = index">
            <div class="mobile-tab d-lg-none"
                 [class.collapsed]="index >= 0"
                 data-toggle="collapse"
                 [attr.data-target]="'#resume-tab-' + tab.id">
              <a [id]="'resume' + tab.id" class="anchor"></a>
              <h4>{{tab.title}}</h4>
            </div>
            <div class="tab-pane fade"
                 [class.show]="index === 0"
                 [class.active]="index === 0"
                 [id]="'resume-tab-' + tab.id"
                 role="tabpanel">
              <ng-container *ngTemplateOutlet="getTemplate(tab.id)"></ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</section>

<ng-template #skills>
  <app-skills></app-skills>
</ng-template>
<ng-template #experience>
  <app-experience></app-experience>
</ng-template>
<ng-template #education>
  <app-education></app-education>
</ng-template>
<ng-template #achievements>
  <app-achievements></app-achievements>
</ng-template>