<figure>
  <ul>
    <li>
      <h6>C# IQ - 260, which is in top 3%</h6>
      <img src="assets\media\csharp-iq.png" class="img-fluid animated" alt="" />
    </li>
    <li class="mt-4">
      <h6>2010 - Won 1st...5th place in "Sexy Web" competition</h6>
      For web that takes best advatages on new IE9 features.
      I created <a href="http://www.turan.sk" target="_blank">turan.sk</a> website and this cool Scrum
      Board app:
      <a href="https://youtu.be/fnIYl3cd5ZA?t=30" target="_blank">
        <img src="assets\media\scrum_board.png" class="img-fluid animated" alt="" />
      </a>
    </li>
    <li class="mt-4">
      <h6>2008 - Programmer of the year</h6>
      For greatest progress among new joiners in Monogram Technologies s.r.o.
    </li>
    <li class="mt-4">
      <h6>Biometrics software for UNHCR</h6>
      I've played key role in development of software described here:
      <iframe src="https://www.youtube-nocookie.com/embed/44nLWR4V-lc?start=26"
              class="img-fluid animated" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </li>
  </ul>
</figure>