<figure>
  <h5>Slovak University of Technology</h5>
  <table class="table">
    <tbody>
      <tr>
        <td>2011</td>
        <td>
          <h6>Faculty of Electrical Engineering and Information Technology</h6>
          Bachelor’s degree in Applied Informatics - Modeling and Simulation of Event Systems
        </td>
        <td><img src="assets/media/education.png" class="certification-icon" /></td>
      </tr>
    </tbody>
  </table>

  <h5 class="mt-2">Certifications</h5>
  <table class="table">
    <tbody>
      <tr>
        <td>2019</td>
        <td>Microsoft Certified: Azure Developer Associate</td>
        <td><img src="assets/media/badge_azure_developer.png" class="certification-icon" /></td>
      </tr>
      <tr>
        <td>2017</td>
        <td>Austrian institute: German Language - Level C1</td>
        <td><img src="assets/media/german_flag.svg" class="certification-icon" /></td>
      </tr>
      <tr>
        <td>2015</td>
        <td>Universal Windows Platform – App Data, Services and Coding Patterns</td>
        <td><img src="assets/media/exam_uwp.png" class="certification-icon" /></td>
      </tr>
      <tr>
        <td>2015</td>
        <td>Accenture: Technology Architect Associate</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>Microsoft Specialist: Programming in C#</td>
        <td><img src="assets/media/exam_csharp.png" class="certification-icon" /></td>
      </tr>
      <tr>
        <td>2014</td>
        <td>Avanade: Proffesional Scrum Developer</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>Avanade: Proffesional Scrum Master</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>Microsoft Certified Solutions Developer: Web Applications</td>
        <td><img src="assets/media/badge_app_builder.png" class="certification-icon" /></td>
      </tr>
      <tr>
        <td>2013</td>
        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Data Access</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>Microsoft Certified Technology Specialist: .NET Framework 4, Service Communication
          Applications</td>
      </tr>
    </tbody>
  </table>

</figure>