<a id="home" class="anchor"></a>
<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2 home-img" data-aos="fade-left">
        <img src="assets\media\primary-picture.svg" class="img-fluid animated" alt="" />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0 d-flex flex-column justify-content-center align-items-start" data-aos="fade-up">
        <h1>Software Consulting</h1>
        <div style="position: relative;">
          <h2 id="home_subtitle_1">
            Software engineering and architecture focused on Microsoft technologies
          </h2>
          <h2 id="home_subtitle_2" style="position: absolute; top: 0;">
            High quality custom software for businesses
          </h2>
        </div>
        <a href="#save" class="btn btn-outline-primary scrollto">Save up to 40%</a>
      </div>
    </div>
  </div>
</section>